* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.box_half {
    margin-left: 18.75%;
    margin-right: 25%;
}
.box {
    margin: 0 18.75%;
}

section {

    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2 {
    padding-right: 48px;
    font-size: 48px;
    text-align: right;
}

h3 {
    font-weight: 200;
    font-size: 24px;
}

p {
    font-size: 14px;
}

/* #region Header*/

header {
    width: 100%;
    background-image: url("images/header_bg.png");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    align-items: center;
    justify-content: space-between;
}


.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

nav img {
    max-height: 50px;
}

nav a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

nav a:hover {
    border-bottom: #00B2A0 1px;
}

nav .right_nav_link {
    margin-right: 130px;
}

.header_company_name h1 {
    font-size: 200px;
    text-align: center;
}

.header_company_name p {
    text-align: center;
    font-size: 24px;
}

header .boat_ico {
    margin: 80px auto;
    width: 20px;
    height: 68.81px;
}

/* #endregion */

/* #region About*/
.about_text {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about_text p {
    font-size: 14px;
    width: 45%;
    padding: 20px 0;
}

/* #endregion */

/* #region Gains*/
.gains{
    background-color: #F8F8F8;
}
.gains h2 {
    padding: 0;
    text-align: center;
}

.gains .features {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.feature{
    width: 30%;
}
.feature .heading {
    height: 56px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.feature .heading h3 {
    width: 50%;
    margin-left: 10px;
}

.gains .statistics {
    height: 160px;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gains .statistics .text {
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gains .statistics .chart {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gains .statistics .chart span{
    margin-left: 10px;
    font-size: 24px;
}
/* #endregion */

/* #region Team*/

.team h2{
    padding: 0;
    margin-bottom: 14%;
    text-align: center;
}

.team .mentors{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.team .mentors img{
    margin-bottom: 25px;
}
.team p{
    text-align: center;
}
.team .accent_p{
    font-size: 18px;
    font-weight: 600;
}

/* #endregion */


/* #region prices*/
.prices{
    background-color: #f8f8f8;
}
.prices h2{
    padding: 0;
    margin-bottom: 17%;
    text-align: center;
}
.prices h3{
    padding: 0;
    margin-top: 7.8%;
    margin-bottom: 10%;
    text-align: center;
}
.prices .price_cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.prices .card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}
.prices .card ul{
    min-height: 50%;
    margin: 0 8%;
}
.price_cards li{
    list-style: none;
    margin: 10px;
    font-size: 14px;
}
.prices .price{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prices .price .num{
    margin: 8px;
    font-size: 36px;
    text-align: center;
}
.prices .dollar{
    font-size: 18px;
    line-height: 50%;
}
/* #endregion */

footer{
    height: 200px;
    background-color: #00B2A0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .header_company_name h1 {
        font-size: 100px;
    }

    .box {
        width: 95%;
    }

    .logo {
        display: none;
    }
}

/* mobile */
@media screen and (max-width: 420px) {
    .header_company_name h1 {
        font-size: 50px;
    }

    .nav_links {
        flex-direction: column;
    }

    .about_text p {
        width: 100%;
    }

    .about .box h2 {
        font-size: 30px;
    }
}