*{
    margin: 0;
}
/* Color Theme Swatches in Hex */
.main { color: #9D87FF; }
.primary{ color: #B482E0; }
/* .primaty { color: #E35BF5; } */
.secondary { color: #E07EB7; }
.Palette-5 { color: #FA8987; }

header,
nav,
main {
    min-width: 200px;
    height: 200px;
    background: orange;
}

footer {
    min-width: 200px;
    min-height: 200px;
    background: rgb(255, 217, 145);
    padding: 20px;
}

.footer_links {
    display: flex;
    flex: row;
    justify-content: space-around;
}

#box {
    border: 1px solid;
}

.links {
    padding: 15px;
    min-width: 100px;
    background: #c2dde4;
}

.links a {
    color: rgba(0, 0, 0, 0.76);
}

.info {
    padding-left: 15px;
    padding-right: 15px;
}